*.pyc
*.csv
*.mp4
*.h5
*.npy
*.png
*.pdf
*.pkl
*.json
venv
.venv
*.venv
cobel.egg-info
build
dist
demo/unity_demo/logsfreeze
.mypy_cache
*.mypy_cache
.ruff_cache
*.ruff_cache
*/__pycache__
uv.lock
.python-version
